* {
    margin: 0;
    padding: 0;
}

.background-image{
 
 
    background-image: url('./backgroundimage.png');
 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
 
 
 
}